# Lab Assignment 1 -- Fundamentals
In this lab, you will complete a series of exercises related to the lecture material on coding fundamentals and collections.

Since this is the first lab that involves coding, we will begin with an exercise related to Jupyter notebook functionality.

## Exercise 1 -- Jupyter Markdown Basics
Jupyter notebooks allows cells to be interpreted as either code or Markdown. Markdown is a lightweight formatting language. In fact, what you're reading right now is written in Markdown. The syntax is very simple and a reference for common commands can be found [here](https://www.markdownguide.org/cheat-sheet/). Use this reference guide to complete the following steps:

1. Create a cell below this one by using the insert drop down menu or by clicking on the left of this box (so the side bar turns blue) and tapping the <kbd>b</kbd> key.
2. Make the cell a Markdown cell by clicking on it and using the drop down menu above.
3. Using the reference guide, find out how to create the **smallest** heading  and use it give the cell you create a header of "Solution to Exercise 1" without the quotes.
4. Using the reference guide, figure out how to make ordered and unordered lists. Using an unordered list, list three of the things you hope to learn from this class.
5. Sometimes, we want to reference specific code or code objects in the text of Markdown. Markdown allows us to format such reference so that it appears in a gray box (e.g. `x=3`). Using the reference guide, figure out how to format code and format  x = 3, so it has a gray box around it in the cell you created.

######Solution to exercise 1

###What I hope to learn from this class
- Basic understanding of Python
- How to create graphical displays from datasets using Python
- How to troubleshoot when coming across errors in code

> Formating x =3

`x=3`

## Exercise 2 -- Basic Variable Assignment
Complete the following steps in the cells below.
1. Generate a variable called `x_flt` and set it equal to 3.0. Print its type.
2. Generate a variable called `x_int` and set it equal to 3. Print its type.
3. Generate a variable called  `x_str` and set it equal to "3". Print its type.
4. Which of these two variables can you add together with the `+` operator? Why? Answer in the Markdown cell below.

In [2]:
# Exercise 2 Code
x_flt = 3.0
print(type(x_flt))

x_int = 3
print(type(x_int))

x_str = "3"
print(type(x_str))

<class 'float'>
<class 'int'>
<class 'str'>

### Response to 2.4

You can only add the variables `x_flt` (float) and `x_int` (integer) together. This is because they are considered as numerical values. Whereas, `x_str` is a string, so it has no numerical value attached to it.

## Exercise 3 -- Variable Reassignment
Complete the following steps in the cells below.
1. Assign `x` equal to `"good"`
2. Assign `y` equal to `x`
3. Reassign `x` to `"bad"`
4. Use `print` to print `y`
5. Does the print statement print "good" or a "bad"? Did changing `x` to "bad" affect anything? Why or why not? Answer in the Markdown cell below.

In [6]:
# Exercise 3 Code
x= 'good'
y = x
x = 'bad'
print(y)

good

### Response to 3.5

The print statement prints "good". Changing `x` to "bad" does not affect `y` because `x` was changed *after* `y` was assigned.

## Exercise 4 -- Basic Arithmetic
Generate the following variables with the corresponding value in the cell below:
1. `x` equal to 20
2. `y` equal to 10
3. `z1` equal to the sum of `x` and `y`
4. `z2` equal to `x` minus `y`
5. `z3` equal to `x` times `y`
6. `z4` equal to `x` divided by `y`

Answer the following question in the Markdown Cell Below

7. Use `type()` to deterimine which of these variables is a floating point number? Why is this the case?

In [12]:
# Exercise 4 Code
x = 20
print(type(x))
y = 10
print(type(y))
z1 = x+y
print(type(z1))
z2 = x-y
print(type(z2))
z3 = x*y
print(type(z3))
z4 = x/y
print(type(z4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
2.0

### Response to 4.7

Using `type()` I was able to determine that `z4` was a floating point number. This is because while `x` and `y` are both integers, dividing them together using python actually creates a decimal or floating number.

## Exercise 5 -- String Formatting
Complete the following steps in the cell below:
1. Define a list called `cities` that contains the names of three cities you would like to visit.
2. Define a corresponding list called `countries` where an entry is the country of each of those three cities.
3. Using these lists and f strings, print a sentence that says what country a city is in for each city in your list
4. Now do the same thing again but use the `.format()` method instead of f strings.

In [22]:
# Exercise 5 Code
cities = ["Rome", "Reykjav√≠k", "Kathmandu"]
countries = ["Italy", "Iceland", "Nepal"]

#f string method
idx = 0
cities[idx]
countries[idx]
string_1a = f"{cities[idx]} is in {countries[idx]}."
print(string_1a)

idx = 1
string_2a = f"{cities[idx]} is in {countries[idx]}"
print(string_2a)

idx = 2
string_3a = f"{cities[idx]} is in {countries[idx]}"
print(string_3a)

# .format() method
idx = 0
string_1b = "{cities} is in {countries}."
print(string_1b.format(cities = cities[idx], countries = countries[idx]))

idx = 1
string_2b = "{cities} is in {countries}."
print(string_2b.format(cities = cities[idx], countries = countries[idx]))

idx = 2
string_3b = "{cities} is in {countries}."
print(string_3b.format(cities = cities[idx], countries = countries[idx]))

Rome is in Italy.
Reykjav√≠k is in Iceland
Kathmandu is in Nepal
Rome is in Italy.
Reykjav√≠k is in Iceland.
Kathmandu is in Nepal.

## Exercise 6 -- String Concatenation
Complete the following steps in the cell below:
1. Assign `b` to be equal to "b"
2. Assign `a` to be equal to "a"
3. Assign `n` to be equal to "n"
4. Using these variables, `+`, and `print`, print the the word "banana"

In [23]:
# Exercise 6 Code
b = 'b'
a = 'a'
n = 'n'

print(b + a + n + a + n + a)

banana

## Exercise 7 -- Boolean Variable Keywords
Assign `a`, `b`,`c`, and `d`, so that every print statement below is true.


Afterwards, answer the following quesiton in the Markdown cell below:

Is the configuration of `a`, `b`,`c`, and `d` that makes both statements true unique? Why or why not? If it isn't unique, add another print statement to the list to rule out other configurations?

In [45]:
# Exercise 7 Code
a = True
b = False
c = False
d = False

In [46]:
# Uncomment the lines below when you have defined the variables to check your results
print(((a and b) or (c and d)) == False)
print(((a or c) and (b or d)) == False)
print(a and (not b) and (not c) and (not d))

True
True
True

###Response to 7

I think that the configuraiton of the first print statement is the inverse of the second print statement. So the configurations making them true is not unique.

However the third print statement is unique to the first two.